<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
  <div style="padding-left:30px;">
    <p class="mat-display-5" style="font-size:30px;" >Projeto MovieFlix</p>
    <p style="text-align:left; width:90%;">
      O projeto MovieFlix foi desenvolvido com o intuito de demostrar competência em utilizar
      o Frame Work Angular2+ e Angular Material, junto com outras ferramentas de desenvolvimento.
      Criado por Israel Gomes de Sena Júnior no qual está concorrendo para um vaga como
      <em>Desenvolvedor Typescript</em> na Empresa Pernambucana de desenvolvimento
      Pluri Educacional: <a href="http://www.plurieducacional.com.br/hotsite/views/" target="_blank">http://www.plurieducacional.com.br/hotsite/views/</a>
    </p>
  </div>
</div>
