<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
  <div style="padding-left:30px;">
    <p class="mat-display-5" style="font-size:30px;" >Projeto MovieFlix</p>
    <p style="text-align:left; width:90%;">
      O projeto MovieFlix foi desenvolvido com o intuito de demostrar competência em utilizar
      o Frame Work Angular2+ e Angular Material, junto com outras ferramentas de desenvolvimento.
      Criado por Israel Gomes de Sena Júnior.
    </p>
  </div>
</div>
