
<br /><br /><br /><br /><br />
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div>
    <p class="mat-display-3">BEM-VINDO AO MOVIEFLIX</p>
    <p class="mat-display-1" style="padding-left:10%;">SEU SITE PREFERIDO DE FILMES</p>
    <p style="padding-left:35%;">
      <button mat-raised-button [routerLink]="['/movies']" id='buttonLista'>
        SEGUIR PARA LISTA
        <mat-icon style="padding-left: 1%">arrow_forward_ios</mat-icon>
      </button>
     </p>
  </div>
</div>

      
